.rock-paper-scissors {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.quit {
    margin-top: 20%;
    color: #dc3545;
}
.player-hud {
    display: flex;
    font-size: 2.5rem;
    div {
        padding: 0.5rem;
        &:hover {
            cursor: pointer;
        }
    }
}
